{% extends 'layout/master.twig' %}

{% block body %}

	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Labyrinthe Maker</h1>
			<p>Créez votre propre aléatoire de façcon aléatoire !</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<form action="/generate" method="post">
				<div class="form-group">
					<input type="number" name="width" placeholder="Largeur du labyrinthe" class="form-control">
				</div>

				<div class="form-group">
					<input type="number" name="height" placeholder="Hauteur du labyrinthe" class="form-control">
				</div>

				<div class="form-group">
					<input type="color" name="color" placeholder="Largeur du labyrinthe" class="form-control">
				</div>

				<div class="form-group">
					<input type="submit" value="Generation" class="btn btn-success">
				</div>
			</form>
		</div>

		<div class="col-md-9">
			{% for a in data %}
				<div>
					<p>{{a.width}}</p>
					<p>{{a.height}}</p>
					<p>{{a.color}}</p>
				</div>
			{% endfor %}		
		</div>
	</div>

{% endblock %}

