{% extends 'layout/master.twig' %}

{% block body %}

	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Labyrinthe Maker</h1>
			<p>Créez votre propre aléatoire de façcon aléatoire !</p>
		</div>
	</div>

	<div class="row">Koukou bob</div>

{% endblock %}

